:root {
	--color: bisque;
	--color-2: rgb(48, 39, 39);
	--background-color: rgb(209, 178, 143);
	--background-color-2: rgb(201, 100, 50);
	--font-family: Arial;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}